<!--The content below is only a placeholder and can be replaced.-->

<!-->The [squareBrackets] pass inputs and the (parentheses) handle outputs
In Angular, you pass data into child components via inputs.
U products-list komponenti mora postojati input property imena productList
products je property na komponenti app.component

 (onProductSelected) = "productWasSelected($event)" => slušamo output imena onProductSelected u komponenti products-list. 
 Desna strana je funkcija iz app.component komponente koju želimo pozvati kada se nešto novo proslijedi kroz ovaj onProductSelected output 
-->

<div class="inventory-app">
  <products-list 
  [productList]= "products" 
  (onProductSelected) = "productWasSelected($event)">
  </products-list>

  
</div>

